<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/gradient.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    #container {
  text-align: center;
}
</style>
<body style='background-color: rgb(73, 69, 61);'>

    <p><br><br><br></p>
    <div id="container">
        <img src="https://static.thenounproject.com/png/504776-200.png" alt="Error" width="250" height="250">
        <p><br></p>
        
        <h1 id="mejn" style='color: white;'>Your account has been disabled.</h1>
        <form method="post" action="logoutin">
       
            <div id="container">
                <button onClick="window.location.href = '/'"; id="authbot" class="btn btn-danger">Log Out</button>
        
              </div>
            </form>

    </div>

</body>
</html>