<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        setTimeout(() => {
            window.location.reload();
        }, 15000);
    </script>
    <title>Error</title>
    <link rel="stylesheet" href="/css/grad2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    #container {
  text-align: center;
}
</style>
<body style='background-color: rgb(73, 69, 61);'> 

    <p><br><br><br></p>
    <div id="container">
        <img src="https://static.thenounproject.com/png/3558598-200.png" alt="Error" width="250" height="250">
        <p><br></p>

        <h1 style='color: white;'><%= msga %></h1>


    </div>

</body>
</html>